<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Auth"></Label>
</ActionBar>



<FlexboxLayout class="page">     
    <StackLayout class="form">
            <Image src="~/app/images/deltalogo.png" class="img-rounded p-l-15 p-r-15 p-t-15"></Image>
                <StackLayout class="input-field">                    
                    <TextField hint="Nom d'utilisateur" class="input"></TextField>                    
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>  

                <StackLayout class="input-field">
                    <TextField hint="Code du billet" class="input"></TextField>
                 <StackLayout class="hr-light"></StackLayout>
                </StackLayout> 

          <Button text="CONNEXION" (tap)="submit()" class="btn btn-primary btn-rounded-lg"></Button>

       </StackLayout>
</FlexboxLayout>



