.page {
    align-items: center;
    flex-direction: column;
    background-image: url("~/app/images/fond1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

  }
  .form {
    margin-left: 5%;
    margin-right: 5%;
    flex-grow: 2;
    vertical-align: middle;
  }

  .connect-button {
    background-color: transparent;
    border-width: 1;
    border-color: white;
  }
  .logo{
    margin-top: 10%;
  }
