<ActionBar title="Réglages gestion équipe" class="action-bar">
</ActionBar>
<FlexboxLayout class="page">
    <GridLayout>
        <StackLayout class="form">
            <Button text="Trouver une équipe" class="btn btn-primary btn-active p-5 m-5"
                (tap)="trouverequipe()"></Button>
            <Button text="Quitter équipe" class="btn btn-primary btn-active p-5 m-5"
                (tap)="quitterequipe()"></Button>
            <Button text="Clôturer équipe" class="btn btn-primary btn-active p-5 m-5"
                (tap)="cloturerequipe()"></Button>
        </StackLayout>
    </GridLayout>
</FlexboxLayout>