<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Planning"></Label>
</ActionBar>

<GridLayout class="page page-content">
    <StackLayout id="planning-bg">
        <GridLayout columns="*,*" rows="*" height="70" class="menu-head">
            <Button text="Ton programme" col="0" row="0" class="btn btn-active btn-block btn-header" (tap)="Programm = true" [ngClass]="{'btn-clicked' : Programm}"></Button>
            <Button text="La Line Up" col="1" row="0" class="btn btn-activebtn-block btn-header" (tap)="Programm = false" [ngClass]="{'btn-clicked' : !Programm}"></Button>
        </GridLayout>
        <ScrollView *ngIf="Programm" isScrollEnabled="true" style="height: 100%">
            <StackLayout>
                <CardView *ngFor="let uc of userConcertsId" class="card" elevation="40" radius="10" ios:shadowRadius="3">
                        <StackLayout orientation="horizontal" class="card-layout">
                            <StackLayout>
                                <Label class="h2" [text]="uc.concert.artist"></Label>
                                <Label class="body" textWrap="true" text="Le {{ uc.concert.hour | date:'d MMMM y à HH:mm' }}"></Label>
                                <Label class="body" textWrap="true" [text]="uc.concert.concertLocation.location"></Label>
                            </StackLayout>
                            <StackLayout>
                                <Button class="btn opt-btn fa" text="&#xf1f8;" (tap)="remove(uc.id)"></Button>
                            </StackLayout>
                        </StackLayout>
                    </CardView>
            </StackLayout>
            
        </ScrollView>
        <ScrollView *ngIf="!Programm" isScrollEnabled="true" style="height: 100%">
            <StackLayout>
                <CardView *ngFor="let concert of concerts" class="card" elevation="40" radius="10" ios:shadowRadius="3">
                        <StackLayout orientation="horizontal" class="card-layout">
                                <StackLayout>
                                    <Label class="h2" [text]="concert.artist"></Label>
                                    <Label class="body" textWrap="true" text="Le {{ concert.hour | date:'d MMMM y à HH:mm' }}"></Label>
                                    <Label class="body" textWrap="true" [text]="concert.concertLocation.location"></Label>
                                </StackLayout>
                                <StackLayout>
                                    <Button class="btn opt-btn fa" text="&#xf055;" (tap)="add(concert.id)"></Button>
                                </StackLayout>
                            </StackLayout>
                    </CardView>
            </StackLayout>
        </ScrollView>
     </StackLayout>
</GridLayout>